<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <title>SRecruiter</title>
        <link th:href="@{/style/css/login.css}" rel="stylesheet" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    <title>Registration</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="center addStudentFormBackground">
            <form action="#" th:action="@{/saveEnglishStudent}" th:object="${English_Student}" method="POST">
                <!-- Hidden field to handle update -->
                <input type="hidden" th:field="*{id}" />

                <h3 class="whiteColor addStudentH3">Add English Student</h3>
                <hr class="whiteColor"/>
                <!-- FirstName LABEL INPUT-->
                <div id="firstname" style="padding-left: 90px; padding-bottom: 5px;">
                    <div id="FirstID" >
                        <label class="whiteColor">First Name</label>
                    </div>
                    <input type="text" th:field="*{firstName}">
                </div>
        
                <!-- LastName LABEL INPUT-->
                <div id="lastname" style="padding-left: 90px; padding-bottom: 5px;">
                    <div id="LastID">
                        <label class="whiteColor">Last Name</label>
                    </div>
                    <input type="text" th:field="*{lastName}">
                </div>
        
                <!-- Email LABEL INPUT-->
                <div id="email" style="padding-left: 90px; padding-bottom: 5px;">
                    <div id="emailID">
                        <label class="whiteColor">Email</label>
                    </div>
                    <input type="email" th:field="*{email}">
                </div>
        
                <!-- PASSWORD LABEL INPUT-->
                <div id="password" style="padding-left: 90px; padding-bottom: 5px;">
                    <div id="passdiv">
                        <div id="passID">
                            <label class="whiteColor">Phone Number</label>
                        </div>
                        <input type="text" th:field="*{number}">
                    </div>
                </div>
        
                <!-- BUTTON -->
                <div id="buttonID" style="padding-top: 25px;">
                    <button type="submit" class="btn btn-outline-light"> Save Student</button>
                    <hr class="whiteColor">
                    <span class="whiteColor">Return to <a th:href="@{/}">Home Page</a>!</span>
                </div>
            </form>
        </div>
    </body>
</html>