<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <title>Business Management Page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <div class="container my-2">
            <h1>Business Management Student List</h1>
    
            <a th:href="@{/addNewBMStudentForm}" class="btn btn-primary btn-sm mb-3"> Add Student </a>
    
            <table border="1" class="table table-striped table-responsive-md">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone number</th>
                        <th> Actions </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="student : ${BM_StudentList}">
                        <td th:text="${student.firstName}"></td>
                        <td th:text="${student.lastName}"></td>
                        <td th:text="${student.email}"></td>
                        <td th:text="${student.number}"></td>
                        <td> <a th:href="@{/showFormForUpdate_BM/{id}(id=${student.id})}" class="btn btn-primary">Update</a>
                            <a th:href="@{/deleteStudent_BM/{id}(id=${student.id})}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a th:href="@{/}"> Back to HomePage</a>
        </div>
    </body>
</html>