<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1">
        <title>Home Page</title>
    </head>
    <body>
        <div align="center">
            <a th:href="@{softwareEngineering}">
                <button >Software Engineering</button>
            </a>

            <a th:href="@{graphicDesign}">
                <button>Graphic Design</button>
            </a>

            <a th:href="@{businessManagement}">
                <button>Business Management</button>
            </a>

            <a th:href="@{english}">
                <button>English</button>
            </a>

            <a th:href="@{infirmary}">
                <button>Infirmary</button>
            </a>
        </div>
    </body>
</html>