<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1">
        <title>Infirmary Page</title>
    </head>
    <body>
        <div align="center">
            <h1>Software engineering students!</h1>
            <table>
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="student : ${Infirmary_StudentList}">
                        <td th:text="${student.firstName}"></td>
                        <td th:text="${student.lastName}"></td>
                        <td th:text="${student.email}"></td>
                        <td th:text="${student.number}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>