/* Dashboard */
#lefty {
    float: left;
    width: 49%;
    margin-left: 1%;
    margin-top: 1%;
  }
  
  #righty {
    padding-left: 20px;
    float: right;
    width: 49%;
    margin-left: 1%;
    margin-top: 1%;
    text-align: center;
  }
  
  .box-1 {
    text-align: center;
    font-size: 11px;
  }

  .textArrange{
    text-align: justify;
  }
  /*-------------------*/